body {
  text-align:center;
  background-color: linear-gradient (#F8BBD0 0%, #90CAF9 100% );
}
h1{
  
  font-size:20px;
}
#bio{
  
  padding:20px;
  font-size:18px;
  text-align:center;
}
img{
  border-radius:50%;
  width:100px;
}
.menu {
  list-style:none;
    font-family: sans-serif;
    float: right;
   top: 10px;
    right: 30px;
 cursor: pointer;
    color: black;
}
.link {
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left;
}